body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:789px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:98px;
  width:1233px;
  height:789px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#FFFFFF;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:280px;
  height:70px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#FFFFFF;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:695px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:142px;
  width:918px;
  height:695px;
  opacity:0.6;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:624px;
  background:-webkit-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:179px;
  width:852px;
  height:624px;
  opacity:0.8;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:216px;
  width:269px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:297px;
  width:731px;
  height:387px;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:59px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:59px;
  font-family:'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:276px;
  word-wrap:break-word;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:59px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:208px;
  height:59px;
  font-family:'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:204px;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:59px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:243px;
  height:59px;
  font-family:'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:239px;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:280px;
  height:48px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:59px;
  width:208px;
  height:48px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:48px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:59px;
  width:243px;
  height:48px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:46px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:280px;
  height:46px;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:107px;
  width:208px;
  height:46px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:46px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:107px;
  width:243px;
  height:46px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:280px;
  height:43px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:43px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:153px;
  width:208px;
  height:43px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:43px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:153px;
  width:243px;
  height:43px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:280px;
  height:43px;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:43px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:196px;
  width:208px;
  height:43px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:43px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:196px;
  width:243px;
  height:43px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:280px;
  height:47px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:47px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:239px;
  width:208px;
  height:47px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:47px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:239px;
  width:243px;
  height:47px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:280px;
  height:48px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:286px;
  width:208px;
  height:48px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:48px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:286px;
  width:243px;
  height:48px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:334px;
  width:280px;
  height:53px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:53px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:334px;
  width:208px;
  height:53px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:53px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:334px;
  width:243px;
  height:53px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:713px;
  width:131px;
  height:47px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:127px;
  word-wrap:break-word;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:34px;
  width:707px;
  height:54px;
}
#u604_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:54px;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:0px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:54px;
  width:176px;
  height:108px;
  visibility:hidden;
}
#u610_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:108px;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u614_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u618_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u622_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:18px;
  color:#1E1E1E;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:359px;
  width:92px;
  height:47px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:18px;
  color:#1E1E1E;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
