body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:789px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:98px;
  width:1233px;
  height:789px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#FFFFFF;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:280px;
  height:70px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#FFFFFF;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:695px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:142px;
  width:918px;
  height:695px;
  opacity:0.6;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:624px;
  background:-webkit-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:179px;
  width:852px;
  height:624px;
  opacity:0.8;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:216px;
  width:269px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:297px;
  width:731px;
  height:387px;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:59px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:59px;
  font-family:'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:276px;
  word-wrap:break-word;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:59px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:208px;
  height:59px;
  font-family:'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:204px;
  word-wrap:break-word;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:59px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:243px;
  height:59px;
  font-family:'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:239px;
  word-wrap:break-word;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:280px;
  height:48px;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:59px;
  width:208px;
  height:48px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:48px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:59px;
  width:243px;
  height:48px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:46px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:280px;
  height:46px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:107px;
  width:208px;
  height:46px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:46px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:107px;
  width:243px;
  height:46px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:280px;
  height:43px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:43px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:153px;
  width:208px;
  height:43px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:43px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:153px;
  width:243px;
  height:43px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:280px;
  height:43px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:43px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:196px;
  width:208px;
  height:43px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:43px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:196px;
  width:243px;
  height:43px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:280px;
  height:47px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:47px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:239px;
  width:208px;
  height:47px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:47px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:239px;
  width:243px;
  height:47px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:280px;
  height:48px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:286px;
  width:208px;
  height:48px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:48px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:286px;
  width:243px;
  height:48px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:334px;
  width:280px;
  height:53px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:53px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:334px;
  width:208px;
  height:53px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:53px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:334px;
  width:243px;
  height:53px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:713px;
  width:131px;
  height:47px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:127px;
  word-wrap:break-word;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:713px;
  width:131px;
  height:47px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:127px;
  word-wrap:break-word;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:34px;
  width:707px;
  height:54px;
}
#u386_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:54px;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:0px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:54px;
  width:176px;
  height:108px;
  visibility:hidden;
}
#u392_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:108px;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u396_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u400_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u404_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
